@font-face {
  font-family: 'Inter';
  src: url('/bondo/tulisan/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/bondo/tulisan/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/bondo/tulisan/Inter-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

/* Tambah varian lain jika perlu */
body {
  font-family: 'Inter', Arial, sans-serif;
}
